<h1 class="new">NEW SCHOOL</h1>

<%= render 'form', school: @school %>

<!-- <button class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge"><%= link_to 'BACK', schools_path %></button> -->
<%= link_to image_tag("backicon.png", width:"50px", height: "50px"), schools_path %>
