.login {
    text-align: center;
    text-transform: uppercase;
    color: #ed2553;
    font-size: 32px;
    font-weight: 600;
}

#login{
	text-transform: uppercase;
}

.signup{
	text-align: center;
    text-transform: uppercase;
    color: #ed2553;
    font-size: 32px;
    font-weight: 600;
}

#signup{
    text-transform: uppercase;	
}

.forgot{
	text-align: center;
    text-transform: uppercase;
    color: #ed2553;
    font-size: 32px;
    font-weight: 600;
}

#forgot{
    text-transform: uppercase;		
}